h1.gallery-title {
  text-align: center;
  margin-top: 1.5rem;
}

.gallery {
  /* margin: 4rem auto auto auto; */
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%; /* Ensure the container takes the full width */
  max-width: 100%; /* Prevent the container from exceeding the viewport width */
}

.gallery img {
  border-radius: 5px;
  border: 2px solid rgba(255, 255, 255, 0.9);
}

/* .gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(133px, 1fr));
  gap: 1rem;
  grid-auto-flow: dense;
}

.gallery img {
  border-radius: 5px;
  border: 2px solid rgba(255, 255, 255, 0.9);
  /* width: 100%; */
/* height: auto; */
/* object-fit: cover; }*/
